<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0" />

	{{#ifEquals pageIdCode "books"}}
	<meta property="og:title"
		  content="Edward's books'" />
	<meta property="og:description"
		  content="These are all of Edward's books that he is currently reading.'" />
	{{/ifEquals}}

	{{#ifEquals pageIdCode "book"}}
	<meta property="og:title"
		  content="{{{book.title}}}" />
	<meta property="og:description"
		  content="{{{book.description}}}" />
	<meta property="og:image"
		  content="https://et370-node-express-ejs-site.onrender.com/images/books/{{{book.idCode}}}.png" />
	{{/ifEquals}}

	<link rel="stylesheet"
		  href="/css/main.css">
	<title>INFO SITE</title>
</head>

<body>
	{{>header}}
	{{{body}}}
</body>

</html>